body {
	font-family: 'Nunito';
}
.textlogo{
 float: left;
 font-size: 25px;


 

}

.navbar a {

  float: right;
  font-size: 18px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: 	#A9A9A9 ;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
	background-color: 	#808080 ;
}

.shoplabel {
  font-size: 20px;
  position: relative;
  top: 75px;
  left: 35vh;
 
}

.productsec{
  position: relative;
  float:left;
  top: 125px;
  flex-basis: 25vh;
  padding: 2vh;
  min-width: 200px;
  margin-bottom: 50px;
}

.productsec img{
  width: 35vh;
}

.productlabel{
  font-weight: lighter;
  font-size: 20px;
}

.pricelabel{
  font-weight: lighter;
  font-size: 20px;
}

.productpage{
  
}

.productpage img{
  width: 70vh;
  height: 70vh;
  position: absolute;
  left: 5vh;
  bottom: 10vh;
}

.productpage h3{
  position: absolute;
  left: 80vh;
  top: 20vh;

  font-size: 30px;
}

.productpage p{
  position: absolute;
  left: 80vh;
  top: 26vh;

  font-size: 25px;
}

.productpage p2{
  position: absolute;
  left: 80vh;
  top: 40vh;

  font-size: 25px;
}

.addtocart{
  position: absolute;
  top: 34vh;
  left: 80vh;

  font-size: 17px;
}

.orderinfo{
  font-size: 40px;
   position: relative;
  top: 150px;
  left: 45vh;
}